<app-navbar></app-navbar>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide" src="./assets/img/main5.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1></h1>

        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
  <div class="container" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="row">
      <div class="col-md-6 offset-md-3">@Kitchen-Carry</div>
    </div>
  </div>
</footer>
